@use ".." as *;

section,
form {
  padding: 50px 0;
}

form {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin: 0 5%;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 45%;
}

.temp-input {
  background-color: $input-bg;
  color: $accent;
  outline-color: $accent;
  width: 75%;
  height: 40px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  transition: width 0.2s;
}

.temp-input::-webkit-inner-spin-button,
.temp-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.temp-input:focus,
.temp-input:focus-visible {
  outline: 1px solid $accent;
  width: 100%;
}
