@use "." as *;

@include normalize;

body {
  background-color: $primary-bg;
  color: $primary-txt;
}

h1,
h2,
p {
  margin: 0 5%;
}

h1,
h2 {
  text-decoration: underline;
  color: $accent;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  @include text (monospace, 48px, 500, 48px);
}

h2 {
  @include text(monospace, 32px, 500, 32px);
}

p,
span,
ol {
  @include text(sans-serif, 18px, 300, 18px);
}

p {
  margin-top: 10px;
}

span {
  color: $accent;
}

ol {
  margin: 20px 5% 20px calc(5% + 2em);
}
